@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a2e;
  background-image:
    radial-gradient(circle at 1% 1%, #5352ed 0%, transparent 50%),
    radial-gradient(circle at 99% 99%, #f43f5e 0%, transparent 50%);
  background-attachment: fixed;
  color: #e0e0e0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
