.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
    animation: rise 25s infinite ease-in;
    filter: blur(10px);
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: translateY(-100vh) scale(1.5);
    }
}
